<div id="map"></div>

<script src="https://maps.googleapis.com/maps/api/js" async defer></script>

<div id="app">
<div>
  <h4>Create a new meeting</h4>
  <div>
    Name: <input type="text" v-model="newMeetingName">
    Address: <input type="text" v-model="newMeetingAddress">
    Start time: <input type="datetime-local" v-model="newMeetingStartTime">
    End time: <input type="datetime-local" v-model="newMeetingEndTime">
    Notes: <input type="text" v-model="newMeetingNotes">
    <button v-on:click="createMeeting()">Submit</button>
  </div>
</div>
<h1><a href="/meetings">All meetings</a></h1>
<div>
  Filter meeting name: <input type="text" v-model="nameFilter" list="meeting-names">
  <div>
    <button v-on:click="changeSortAttribute('name')">Sort by name</button>
    <button v-on:click="changeSortAttribute('address')">Sort by address</button>
    <button v-on:click="changeSortAttribute('start_time')">Sort by start time</button>
    Sort ascending: <input type="checkbox" v-model="sortAscending">
  </div>
  <datalist id="meeting-names">
    <option v-for="meeting in meetings">{{ meeting.name }}</option>
  </datalist>
</div>
<div v-for="meeting in modifiedMeetings" v-if="isValidMeeting(meeting)">
  <h3><a v-bind:href="'/meetings/' + meeting.id">{{ meeting.name }}</a></h3>
  <p>
    Tags:
    <a v-for="tag in meeting.tags" v-bind:href="'/meetings?tag=' + tag.name">
      {{ tag.name }}
    </a>  
  </p>
  <p>Address: {{ meeting.address }}</p>
  <p>Start time: {{ meeting.start_time }}</p>
  <p>End time: {{ meeting.end_time }}</p>
</div>

</div>
